@using System.Linq
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<br />
<div class="container">
    <div class="row my-2">
        <h3> Statistique Ville </h3>
    </div>
   @*  <div class="row">

        <form asp-action="rechercher">
            <div class="row">
                <div class="col">
                    <label>
                        Period
                    </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected value=@null>Toute la periode</option>

                        <option value="1">Aujourd'hui</option>
                        <option value="1">Hier</option>
                        <option value="2">Cet Semaine</option>
                        <option value="3">Ce mois</option>
                        <option value="3">Cette année</option>
                    </select>
                </div>
                <div class="col">
                    <label>
                        Ville
                    </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected value=@null>All Ville</option>
                        <option value="1">Aujourd'hui</option>
                        <option value="1">Hier</option>
                        <option value="2">Cet Semaine</option>
                        <option value="3">Ce mois</option>
                        <option value="3">Cette année</option>
                    </select>
                </div>
                <div class="col">
                </div>

                <div class="col ">
                    <label>

                    </label>
                    <button class="btn  btn-block p-2  " style="background-color:#feb969">
                        Submit
                    </button>
                </div>
            </div>


        </form>
    </div> *@

    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-header bg-white">
                    List Ville
                </div>
                <div class="card-body">
                    <div class="table-responsive m-2">

                        <table class="m-1 table">
                            <thead>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        Statut
                                    </td>
                                    <td>
                                        Totale Colis
                                    </td>
                                    <td>
                                        Colis Encours
                                    </td>
                                  
                                    <td>
                                     Colis Livre
                                    </td>
                                    <td>
                                        Colis  Envoye
                                    </td>
                                    <td>
                                        Colis  Retourne
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Ville)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Statut

                                        </td>
                                        <td>
                                            @item.AllColis

                                        </td>
                                        <td>
                                            @item.ColisEncours

                                        </td>
                                       
                                        <td>
                                            @item.ColisLivre
                                        </td>
                                        <td>
                                            @item.ColisEnvoye
                                        </td>
                                        <td>
                                            @item.ColisRetourne
                                        </td>

                                   
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>


    </div>

</div>
