@model IEnumerable<_1311.Models.Reclamation>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                Resolu
            </th>



            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>
                <td>
                    @{
                        if (item.Statut)
                        {
                            <div class="text-success">Resolu</div>
                        }
                        else
                        {
                            <div class="text-danger">Non resolu</div>

                        }

                    }
                </td>


                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>