@model Reclamation

@{
    ViewData["Title"] = " Details Reclamation";
}
<div class="row mt-2">
    <div class="col-6">
        <span class="display-5">
            @Html.Partial("HTML/_BackButton", "/User/Reclamation")
           Reclamation @Model.Id
        </span>
    </div>
    
</div>
<hr />
<div class="card mt-3">



    <div class="card-body">
        @if (Model.Statut)
        {
            <div class="text-center text-success">
                Bien Resolu
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Sujet</th>
                    <td>@Model.Sujet</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td>@Model.Message</td>
                </tr>
            </table>
            <div class="text-center text-success">
                <strong>Reponse:</strong> @Model.Reponse
            </div>
        }
        else
        {
            <div class="text-center text-danger">
                Pas Encore Resolu
            </div>
            <hr />
            <table class="table table-bordered">
                <tr>
                    <th>Sujet</th>
                    <td>@Model.Sujet</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td>@Model.Message</td>
                </tr>
            </table>
        }
    </div>


   
</div>


